.User {
  font-weight: 700;
  font-size: 1.1em;
  color: #2900e2;
}

.User > * {
  display: inline-block;
}

.SignOut {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  border: none;
  background-color: #7206ff;
  color: #f1f2f3;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
}

.SignOut:hover {
  background-color: #8a3bf3;
}